@import 'tailwindcss';

@theme {
  --color-primary-50: oklch(0.962 0.018 272.314);
  --color-primary-100: oklch(0.93 0.034 272.788);
  --color-primary-200: oklch(0.87 0.065 274.039);
  --color-primary-300: oklch(0.785 0.115 274.713);
  --color-primary-400: oklch(0.673 0.182 276.935);
  --color-primary-500: oklch(0.585 0.233 277.117);
  --color-primary-600: oklch(0.511 0.262 276.966);
  --color-primary-700: oklch(0.457 0.24 277.023);
  --color-primary-800: oklch(0.398 0.195 277.366);
  --color-primary-900: oklch(0.359 0.144 278.697);
  --color-primary-950: oklch(0.257 0.09 281.288);
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-relaxed;
  }

  p {
    @apply text-base leading-relaxed;
  }
}

@layer components {
  .container-md {
    @apply mx-auto px-4 max-w-5xl;
  }
  .heading-xl {
    @apply text-2xl font-semibold mb-4;
  }
  .heading-lg {
    @apply text-xl font-semibold mb-3;
  }
  .heading-md {
    @apply text-lg font-semibold mb-2;
  }

  .btn {
    @apply inline-flex items-center justify-center px-5 py-2.5 text-sm rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer transition duration-200 focus:active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-ghost {
    @apply bg-transparent text-gray-800 hover:bg-gray-200 focus:ring-0 focus:ring-offset-0;
  }

  .btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-600 focus:ring-primary-400;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300 focus:ring-gray-400;
  }

  .btn-icon {
    @apply p-2.5;
  }

  .input {
    @apply block w-full px-5 py-2.5 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-primary-300 focus:border-primary-400 transition duration-200;
  }
}
